<%# This is the About Us page, I would change this to File a Bug Report %>

<h1>Best Bug Writing Practices</h1>
<p>
Writing a well-put-together bug report is half the battle to getting the bug fixed. By being able to be detailed, yet concise, and explain clearly to the programmers why it is important to fix the bug, you have a better chance of getting it fixed.
</p>

<h4>Writing the Report</h4>
To compose a well-thought out bug report, we have provided the framwork of data to collect. As you begin to put that data into the report, keep the following things in mind:
    <ol id="RemoveListNumber">
    <h5><li>Isolate the failure</li></h5>
    <h5><li>Maximize</li></h5>
    <h5><li>Generalize</li></h5>
    <h5><li>Externalize</li></h5>
    <h5><li>Say it clearly and dispassionately</li></h5>
    </ol>